@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color:green">Welcome to Mukhesh Aws Dotnet Pipeline</h1>
    <p style="color:orange">Have a great day</a>.</p>
</div>
